.container {
    display: flex;
    justify-content:space-around;
}

.questions {
    display: flex;
}

.points {
    display: flex;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #0070d2;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.toggle-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #0070d2;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.button:hover {
    background-color: #f4f6f9;
}


.reset {
    margin-top: 30px;
}

.reset-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #ff3632;
    border-radius: 0.25rem;
    border: 1px solid #ff9100;
    color: #fff;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}